.section-1 {
    color: white;
    margin-left: 12%;
    position: relative;
    display: flex;
    &::after {
        @include items;
        background: url(../../../../images/produit/item-1.jpg) center/cover;
        height: 100%;
        width: 70%;
        top: 0;
        right: 0;
    }
        &_container {
            @include boxItems;
            margin:4% 0;
            }
}
