.btn  {
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px 50px;
    transition: ease 0.2s;
}

.btn:hover {
    color: $color-primary;
    border-color: $color-primary;
    transition: 0.2s;
}

.btn-2 {
    background-color: $color-primary;
    padding: 10px 50px;
    border-radius: 5px;
    border: 3px solid $color-primary;
    transition: ease 0.2s;
}
.btn-2:hover {
    background-color: white;
    color: $color-primary;
    transition: 0.2s;

}