.section-1 {
    position: relative;
    height: 100vh;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: url(../../../images/bannier.jpg) center/cover;
        filter:brightness(50%);
        z-index: -1;
    }

    
        &_container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            color: white;
          
            &_title {
                padding-top: 2%;
                font-family: 'jost', sans-serif;
                font-size: 3.5em;
                font-weight: 200;
            }
            &_sub-head {
                font-weight: 200;
                margin-top: 1%;
            }
            &_more {
                margin-top: 5%;
            }
        }
}