.section-1 {
    background: url(../../../images/bannier.jpg) center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}