.header {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
        &_nav-bar {
            width: 50%;
                &_list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    font-size: 1.3em;
                    text-transform: uppercase;
                    
                }
        }
}

.position {
    position: relative;
}

.item-1::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 60px;
    background: $color-primary;
    top: 35px;
    left: 11px;
}

.items {
    transition: ease 0.4s;

}
.items:hover {
    color: $color-primary;
    transition: 0.4s;
}