.section-3 {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 12%;
    margin-bottom: 200px;
    color: white;
        &::after {
            @include items;
            background: url(../../../images/item-1.jpg) center/cover;
            top: 0;
            left: 30%;
        }
        &_container {   
            @include boxItems;
        }

}