.section-4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5%;
    margin-left: 12%;
    margin-bottom: 100px;
    color: white;
        &::after {
            @include items;
            background: url(../../../images/item-2.jpg) center/cover;
            top: 0;
            left: 0;
        }
        &_container {   
            @include boxItems;
            margin: 9% 0;
            &_title {
                text-transform: uppercase;
                margin-left: 30px;
                font-weight: bolder;
            }
            &_text {
                margin-top: 25px;
                font-size: 0.9em;
            }
            &_link {
                margin: 10% auto 0;
                width: 50%;
            }
        }

}