.section-3 {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 12%;
    color: white;
        &::after {
            @include items;
            background: url(../../../images/item-1.jpg) center/cover;
            top: 0;
            right: 0;
        }
        &_container {   
            @include boxItems;
            margin: 5% 0;
        }

}