@mixin boxItems {
    width: 50%;
    background-color: $color-secondary;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;   
    &_title {
        text-transform: uppercase;
        margin-left: 30px;
        font-weight: bolder;
    }
    &_text {
        margin-top: 25px;
        font-size: 0.9em;
    }
    &_link {
        margin: 10% auto 0;
        width: 50%;
    }
};


@mixin items {
    content: "";
    position: absolute;
    height: 100%;
    width: 65%;
    z-index: -1;
}