$color-primary: rgba(180, 134, 100, 1);
$color-secondary: rgba(51, 36, 25, 1);
$color-tertiary: rgba(51, 51, 51, 1);

@font-face {
    font-family: "roboto";
    src: url(../../../fonts/font_roboto/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: "jost";
    src: url(../../../fonts/font_jost/Jost-VariableFont_wght.ttf);
}