* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif ;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    color: white;
}
.section {
    max-width: 75%;
}